#loginFailed, #signupFailed {
    display: none;
    background-color: orangered;
    color: black;
    padding: 8px;
}

#loginSuccess, #signupSucces {
    display: none;
    background-color: limegreen;
    color: white;
    padding: 8px;
}

#printer-form {
    display: none;
}