#loginFailed, #signupFailed, #LoadFailed {
    display: none;
    background-color: orangered;
    color: black;
    padding: 8px;
}

#loginSuccess, #signupSucces, #LoadSuccess {
    display: none;
    background-color: limegreen;
    color: white;
    padding: 8px;
}

#printer-form, #material-form {
    display: none;
}

#RequestAlert {
    display: none;
}